name: Bundle API Release

on:
  workflow_call:
    secrets:
      PACKAGES_RW_ACTOR:
        required: true
      PACKAGES_RW_TOKEN:
        required: true

jobs:
  call-gradle-release:
    uses: Forsakringskassan/.github/.github/workflows/gradle-release.yaml@main
    secrets:
      PACKAGES_RW_ACTOR: ${{ secrets.PACKAGES_RW_ACTOR }}
      PACKAGES_RW_TOKEN: ${{ secrets.PACKAGES_RW_TOKEN }}
  publish-release:
    needs: call-gradle-release
    uses: Forsakringskassan/.github/.github/workflows/publish-release-on-tag-push.yaml@main
  call-npm-release:
    needs: call-gradle-release
    uses: Forsakringskassan/.github/.github/workflows/api-npm-release.yaml@main
    secrets:
      PACKAGES_RW_ACTOR: ${{ secrets.PACKAGES_RW_ACTOR }}
      PACKAGES_RW_TOKEN: ${{ secrets.PACKAGES_RW_TOKEN }}
