name: Maven CI

on:
  workflow_call:
    secrets:
      PACKAGES_RW_ACTOR:
        required: true
      PACKAGES_RW_TOKEN:
        required: true

jobs:
  build-java:
    runs-on: ubuntu-latest
    permissions:
      security-events: write
      actions: read
      contents: read
      packages: read
    env:
      skip-automatic-fk-code-standard-apply: true
      GITHUB_ACTOR: ${{ github.actor }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: "0"
      - name: Setup java
        uses: actions/setup-java@v5
        with:
          distribution: "zulu"
          java-version: "25"
          cache: 'maven'
      - name: Cache npm
        uses: actions/cache@v5
        with:
          path: ~/.npm
          key: ${{ runner.os }}-npm-cache-v1
      - name: Create Maven settings.xml
        run: |
          mkdir -p "$RUNNER_TEMP/maven"
          cat <<'EOF' > "$RUNNER_TEMP/maven/settings.xml"
          <?xml version="1.0" encoding="UTF-8"?>
          <settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
                    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                    xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 
                                        http://maven.apache.org/xsd/settings-1.0.0.xsd">
            <servers>
              <server>
                <id>github--Forsakringskassan--repository</id>
                <username>${env.GITHUB_ACTOR}</username>
                <password>${env.GITHUB_TOKEN}</password>
              </server>
            </servers>
          </settings>
          EOF
      - name: "Maven build"
        shell: bash
        run: |
          java -version
          javac -version
          ./mvnw -T 1C -s $RUNNER_TEMP/maven/settings.xml -ntp verify
        env:
          PACKAGES_RW_ACTOR: ${{ secrets.PACKAGES_RW_ACTOR }}
          PACKAGES_RW_TOKEN: ${{ secrets.PACKAGES_RW_TOKEN }}

      - name: Transorm static code analysis to SARIF
        if: ${{ (success() || failure()) }}
        run: |
          npx violations-command-line -sarif sarif-report.json \
          -v "FINDBUGS" "." ".*/findbugs.*\.xml$" "Findbugs" \
          -v "FINDBUGS" "." ".*/spotbugsXml.*\.xml$" "Spotbugs" \
          -v "CHECKSTYLE" "." ".*/checkstyle.*\.xml$" "Checkstyle" \
          -v "PMD" "." ".*/pmd.*\.xml$" "PMD"
      - uses: github/codeql-action/upload-sarif@v4
        if: ${{ (success() || failure()) }}
        with:
          sarif_file: sarif-report.json
          category: violations-lib

      - name: Publish Build
        uses: actions/upload-artifact@v5
        if: failure()
        with:
          name: build-${{ github.run_number }}
          path: ${{ github.workspace }}
