name: NPM Lint

on: [workflow_call]

permissions:
  contents: read

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set Node Version
        uses: actions/setup-node@v6
        with:
          node-version: 24.x
          cache: "npm"
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: npm run build
      - name: Prettier
        run: npm run prettier:check --if-present
      - name: ESLint
        if: success() || failure()
        run: npm run eslint --if-present -- --max-warnings 0 || false
      - name: HTML Validate
        if: success() || failure()
        run: npm run html-validate --if-present -- --max-warnings 0 || false
      - name: Stylelint
        if: success() || failure()
        run: npm run stylelint --if-present -- --max-warnings 0
